.login-form{
    background-color: blue;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.username-input{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.password-input{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.login-button{
    margin: 20px;
    font-size: 30px;
    background-color: white;
    color: blue;
    border-radius: 15px;
    padding: 5px 30px;
    cursor: pointer;
}

.employees-input{

}
.logout-block{
    margin: 30px;
    text-align: end;
}

.logout-button{
    background-color: blue;
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}
.employees-heading{
    display: flex;
    justify-content: space-around;
    background: blue;
    padding: 10px;
    color: white;
    font-size: 20px;
}
.list-block{
    background-color: lightblue;
}
.list-block-item{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    align-items: center;
}

.list-items{
    background-color: skyblue;
    margin-bottom: 10px;
}
.edit-items{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    align-items: center;
}
.edit-button{
    margin-right: 20px;
    margin-left: 20px;
    background: blue;
    padding: 3px 12px;
    color: white;
    border: 2px solid blue;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.error-msg{
    text-align: center;
    color: red;
    font-size: 20px;
}